#!/bin/bash

container_name={{ k3s_server_node_name }}
image_name={{ k3s_image }}
host_ip={{ ansible_eth1.ipv4.address }}



docker run \
    --detach \
    --name $container_name \
    --hostname $container_name \
    --network {{ k3s_swarm_net_name }} \
    --publish {{ ansible_eth1.ipv4.address }}:6443:6443 \
    --publish {{ ansible_eth1.ipv4.address }}:443:443 \
    --privileged --security-opt apparmor=unconfined \
    --volume {{ k3s_hosts_pwd }}/10-flannel.conflist:/etc/cni/net.d/10-flannel.conflist \
    --volume k3s-data-${container_name}:/var/lib/rancher/k3s \
    $image_name \
    server \
    --cluster-init \
    --node-name $container_name \
    --tls-san $host_ip \
    --flannel-backend=vxlan \
    --flannel-iface=eth0 \
    --flannel-cni-conf=/etc/cni/net.d/10-flannel.conflist
