#!/bin/bash

container_name=k3s-{{ inventory_hostname }}
image_name={{ k3s_image }}


docker run \
    --detach \
    --name $container_name \
    --hostname $container_name \
    --network {{ k3s_swarm_net_name }} \
    --privileged --security-opt apparmor=unconfined \
    --volume k3s-data-${container_name}:/var/lib/rancher/k3s \
    --volume {{ k3s_hosts_pwd }}/10-flannel.conflist:/etc/cni/net.d/10-flannel.conflist \
    --env K3S_TOKEN={{ hostvars['k3s']['token'].stdout }} \
    $image_name \
    agent \
    --server https://{{ hostvars['k3s']['server_node_ip'].stdout }}:6443 \
    --node-name $container_name \
    --flannel-iface=eth0 \
    --flannel-cni-conf=/etc/cni/net.d/10-flannel.conflist
   # --debug

